@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  :root {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
  }

  body {
    margin: 0;
    background-color: white;
    @apply text-slate-900;
  }
}

@layer components {
  .page-center-container {
    @apply mx-auto w-full max-w-[960px];
  }
}
